body,html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
    color: rgb(30, 30, 30);
}

a {
    color: rgb(30, 30, 30);
    text-decoration: none;
}

a:hover {
    color: rgb(30, 30, 30);
    text-decoration: underline;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 3.8fr 0.6fr 0.3fr 0.3fr;
    grid-template-areas: "Navbar Navbar Navbar Navbar" "Search Search Search Search" "Privacy Privacy Privacy Privacy" "Country Country Country Country" "Footer Footer Footer Footer";
    width: 100vw;
    height: 100vh;
}

/* Navbar */

.Navbar {
    grid-area: Navbar;
    display: flex;
    align-items: center;
    justify-content: right;
}

.Navbar ul {
    list-style-type: none;
}

.Navbar li {
    float: left;
}

.Navbar li a {
    display: block;
    margin-right: 20px;
    margin-top: 7px;
    text-align: left;
}

#signin {
    background-color: rgb(0, 110, 255);
    margin-right: 20px;
}

#signin a {
    color: aliceblue;
    margin: 0;
    padding: 7px 15px 7px 15px;
    text-decoration: none;
    cursor: default;
}

#signin a:active {
    background-color: rgb(8, 88, 192);
}

/* Search */

.Search {
    grid-area: Search;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 150px;
}

#gsearch {
    width: 600px;
    height: 40px;
    color: rgba(17, 17, 17, 0.8);
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    border: 0.5px solid rgba(17, 17, 17, 0.15);
    border-radius: 50px;
    flex: top;
}

#gsearch:hover {
    box-shadow:  0 3px 5px 3px rgba(33,33,33,.15);
    border: none;
}

#gimg {
    position: relative;
    cursor: default;
}


/* */

.Privacy {
    grid-area: Privacy;
    background-color: darkseagreen;
    display: flex;
    align-items: center;
}

.Country {
    grid-area: Country;
    background-color: cadetblue;
    display: flex;
    align-items: center;
}

.Footer {
    grid-area: Footer;
    background-color: coral;
    display: flex;
    align-items: center;
}